mat-form-field {
    width: 100%;
}

mat-chip {
    * {
        vertical-align: middle;
    }

    span {
        margin-left: 5px;
    }
}

.url {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 15px 5px;

    b {
        margin-left: 5px;
        padding-left: 20px;
        word-wrap: break-word;
    }

    button {
        float: right;
        top: -10px;
    }
}

.chips-container {
    justify-content: center;
    display: flex;
    gap: 10px;
}