@if (appStore.loading()) {
<app-loading></app-loading>
} @else {
<div class="light-mode global-container">
    <mat-toolbar>
        <img [matTooltip]="'GLOBAL.ACCUEIL' | translate" [routerLink]="'/projects'" src="assets/img/favicon.ico"
            alt="Logo" width="45px" height="45px" class="logo" />
        <span [matTooltip]="'GLOBAL.ACCUEIL' | translate" [routerLink]="'/projects'" style="cursor: pointer">{{
            "GLOBAL.TITLE" | translate }}</span>
        <span class="spacer"></span>
        @if (tokenData()) {
        <img [src]="tokenData()?.avatar ?? 'assets/img/avatar.png'" [routerLink]="'users/profile'"
            [matTooltip]="'GLOBAL.PROFILE' | translate" class="avatar" alt="Avatar">
        }
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
}