mat-toolbar {
    background-image: url(assets/img/branch.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 161px;
}

.container {
    padding: 5px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.logo {
    cursor: pointer;
    margin-right: 10px;
}

.settings {
    color: #4287f5;
}

.light {
    color: #FFC107;
}

.dark {
    color: #424242;
}

.version {
    font-size: 15px;
    margin-left: 10px;
}