version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: ./Backend/Api/Dockerfile
    container_name: kansoboard-api
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
    volumes:
      - ./Data:/app/Data
    restart: unless-stopped
