.table-container {
    margin-top: 16px;
    overflow-x: auto;
}

table {
    width: 100%;
}

.card-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.projects-container {
    padding: 24px;
    text-align: center;

    p {
        margin-bottom: 16px;
    }
}