.login-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    width: 100%;
}

.login-card {
    background: #fffdf9;
    max-width: 350px;
}

.error {
    margin-top: 0;
    color: #d64545;
    font-size: 0.9rem;
}