.card {
    cursor: pointer;
}

.title-spinner {
    height: 20px !important;
    width: 20px !important;
    display: inline-block;
    vertical-align: middle;
}

.empty-card {
    text-align: center;
}

.board-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px 0;
    box-sizing: border-box;
}