<mat-card cdkDrag [cdkDragData]="card()" [class.type-analyse]="card().type === cardType.Analyse"
    [class.type-feature]="card().type === cardType.Feature" [class.type-bug]="card().type === cardType.Bug"
    [class.type-task]="card().type === cardType.Task" [class.priority-low]="card().priority === cardPriority.Low"
    [class.priority-normal]="card().priority === cardPriority.Normal"
    [class.priority-high]="card().priority === cardPriority.High"
    [class.priority-urgent]="card().priority === cardPriority.Urgent"
    [class.priority-immediate]="card().priority === cardPriority.Immediate" (click)="edit()"
    class="card cursor-pointer">
    <ng-template cdkDragPlaceholder>
        <div class="card-drag-placeholder"></div>
    </ng-template>

    <mat-card-header cdkDragHandle>
        <mat-card-title>
            <strong>#{{ card().number }}</strong> {{ card().title }}
        </mat-card-title>
        <span class="spacer"></span>
        @if (card().assignedToUserId) {
        <img [src]="getAssignedUser()?.avatarUrl ?? 'assets/img/avatar.png'" [matTooltip]="getAssignedUser()?.pseudo"
            class="avatar" alt="Avatar">
        }
    </mat-card-header>
</mat-card>