<mat-card cdkDrag [cdkDragData]="column()" [cdkDragDisabled]="column().locked" class="column">
    <ng-template cdkDragPlaceholder>
        <div class="column-drag-placeholder"></div>
    </ng-template>

    <mat-card-header cdkDragHandle>
        <mat-card-title>
            @if (column().locked) {
            <mat-icon class="locked-icon">lock</mat-icon>
            }
            {{ column().name }}
        </mat-card-title>
        @if (config().devMode) {
        <button mat-icon-button [matTooltip]="'GLOBAL.COPY_ID' | translate" [cdkCopyToClipboard]="column().id"
            (click)="$event.stopPropagation()" class="warn copy-id-button">
            <mat-icon>content_copy</mat-icon>
        </button>
        }
        <span class="spacer"></span>
        <button mat-icon-button [matTooltip]="'COLUMNS.ADD_CARD' | translate"
            (click)="addCard(); $event.stopPropagation()" class="success">
            <mat-icon>add</mat-icon>
        </button>
        @if (!column().locked) {
        <button mat-icon-button [matTooltip]="'GLOBAL.EDIT' | translate" (click)="edit(); $event.stopPropagation()"
            class="info">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button [matTooltip]="'GLOBAL.DELETE' | translate" (click)="delete(); $event.stopPropagation()"
            class="danger">
            <mat-icon>delete</mat-icon>
        </button>
        }
    </mat-card-header>

    <mat-card-content cdkDropList cdkDropListOrientation="vertical" [cdkDropListData]="cards()"
        (cdkDropListDropped)="dropCard($event)" class="column-content">
        @for (card of cards(); track card.id) {
        <app-card [card]="card"></app-card>

        <ng-template cdkDragPreview>
            <div class="card-drag-preview">
                <app-card [card]="card"></app-card>
            </div>
        </ng-template>
        }
    </mat-card-content>
</mat-card>