.column {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: calc(100vh - 200px);
}

.column-content {
    flex: 1;
    overflow-y: auto;
}

.locked-icon {
    font-size: 20px;
    color: #9CA3AF;
}